<div class="container mt-5">
  <div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form method="POST" action="/api/sessions/login">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary me-2">Login</button>
            <a href="/login/register">Register</a>
            <a href="/api/sessions/github" style="display: inline-block; background-color: #24292e; color: #ffffff; padding: 6px 12px; text-decoration: none; border-radius: 4px; margin-left:3%; font-weight: bold; font-size: 12px;">
              <i class="fab fa-github" style="margin-right: 5px;"></i>Login with GitHub
            </a>
            <a href="/api/sessions/gmail" style="display: inline-block; background-color: #db4437; color: #ffffff; padding: 6px 12px; text-decoration: none; border-radius: 4px; margin-left: 3%; font-weight: bold; font-size: 12px;">
              <i class="fa fa-envelope" style="margin-right: 5px;"></i>Login with Gmail
            </a>








          </form>
        </div>
      </div>
    </div>
  </div>
</div>
