<div class="container mt-5">
  <div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Password Changed Successfully!</h5>
          <hr />
          <p>Your new password has been updated successfully.</p>
          <a href="/" class="btn btn-primary">Return to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
