<div class="container mt-5">
  <div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a New Password</h5>
          <hr />
          <form method="POST" action="/api/sessions/reset-password/{{user}}">
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password">
            </div>
            <button type="submit" class="btn btn-primary me-2">Change Password</button>
            <a href="/">Login</a> | <a href="/register">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
